.doughnut {
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    width:175px;
    height:200px;
    position: relative;
    display: inline-block;
    overflow: hidden;

    canvas {
        margin-left:auto;
        margin-right:auto;
    }

    .value {
        margin-top: 2px;
        font-size: 1rem;
        color: $ThemeRoundButtonFill;
    }

    .doingWell {
        color: $DoingWell;
    }

    .doingBad {
        color: $DoingBad;
    }

    .percent {
        width: 45px;
        position: absolute;
        left: calc(50% - 22px);
        top: 70px;
        font-size: 1.25rem;
        text-align: center;

        .percentage {
            position: relative;

            .percent-number {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .percentage.zero {
            color: red;
        }
    }

    .face {
        width: 40px;
        position: absolute;
        left: calc(50% - 20px);
        top: 64px;

        .fa-meh {
            color: orange;
        }

        .fa-frown {
            color: red;
        }
    }
}