input[type="password"] {
    outline:none !important;
    border: none !important;
    box-shadow: none !important;
}

input[type="password"]:hover {
    border: 1px solid $ThemeRoundButtonBorder !important;
}