.table {
    color: black;
    background-color: transparent;
    font-size: 0.75rem;

    .bold {
        font-weight: bold;
    }

    tr {
        cursor: pointer;
    }

    tr:hover {
        background-color: $ThemeRoundButtonFill;
        color: $ThemeRoundButtonHoverText;
    }

    td {
        border: none;
        overflow: auto;
    }
}