input[type="text"] {
    outline:none !important;
    box-shadow: none !important;
}

input[type="text"]:hover {
    border: 1px solid $ThemeRoundButtonBorder !important;
}

input[type="text"]:focus {
    border: 1px solid $ThemeRoundButtonBorder !important;
}