

  .userItem {
    height: 52px;
    border-left: 3px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: $ThemeListItemHover;

      strong,small{
        color: $ThemeButtonTextHover !important;
      }
    }

    &.is-active {
      background-color:$ThemeListItemSelected;

      &:hover {
        strong,small{
            color: inherit !important;
        }
      }
    }

    &.unanswered {
      border-left: 3px solid $Unanswered;
    }
  }

  .useritem-username {
    padding-top:4px;
  }