$ThemeTitleBackground: #3F487F;
$ThemeTextColor: #16233A;
$ThemeTextColorLighter: #525C6D;
$ThemeToolbarText: #ffffff;
$ThemeToolbarBackGround: #29384F;
$ThemeToolbarSelected: #3F487F;
$ThemeToolbarSelectedBorder: #9FA4FE;
$ThemeToolbarHover: #4C519C;
$ThemeChatBackground: #EEF1F5;
$ThemeListItemBackground: #fff;
$ThemeChatSurveyBackground: #F3F5F8;
$ThemeChatLineBackgroundOperator: #DDDEEF;
$ThemeChatLineBackgroundVisitor: #F8F9FB;
$ThemeChatText: #525C6D;
$ThemeRoundButtonBorder: #7779BF;
$ThemeRoundButtonFill: #7779BF;
$ThemeRoundButtonText: #F5F5F5;
$ThemeRoundButtonHover: #5558AF;
$ThemeRoundButtonHoverText: #fff;
$ThemeRoundButtonPressed: #E1E1E1;
$ThemeListItemHover: #7779BF;
$ThemeListItemSelected: #e5e6f3;
$ThemeButtonFill: #29384F;
$ThemeButtonHover: #4C519C;
$ThemeButtonText: #F5F5F5;
$ThemeButtonTextHover: #fff;
$ThemeMyStatusOnline: #7DBC00;
$ThemeMyStatusBusy: #E9001B;
$ThemeMyStatusBeRightBack: #F9CE15;
$ThemeMyStatusAway: #E9001B;
$ChatViewSeperator: #E4E8ED;
$FontColor:#858592;
$ThemeSwitchSelected: #9295cb;
$ThemeScrollBar: #a5a5a6;
$ThemeStatusMenuBackground: #d1d4db;
$ThemeModalHeaderBackground: #4c4a48;
$ThemeModalHeaderFontColor: #fff;
$LessFaintBorder: rgba(0, 0, 0, 0.1);
$FaintBorder: rgba(0, 0, 0, 0.05);
$CardBackground: #fff;
$CardGray: #808080;
$DoingWell: #B2D472;
$DoingBad: #E9001B;

$TeamChatHeaderBackground: #29384F;
$TeamChatHeaderTextColour: #fff;


$Unanswered: #E9001B;
