.a {
    background-color: burlywood;
}

.b {
    background-color: brown;
}
.c {
    background-color: cadetblue;
}
.d {
    background-color: darkblue;
}
.e {
    background-color: chocolate;
}
.f {
    background-color: firebrick;
}
.g {
    background-color: green;
}
.h {
    background-color: hotpink;
}
.i {
    background-color: indigo;
}
.j {
    background-color: springgreen;
}
.k {
    background-color: khaki;
}
.l {
    background-color: lightcoral;
}
.m {
    background-color: maroon;
}
.n {
    background-color: navajowhite;
}
.o {
    background-color: olive;
}
.p {
    background-color: peru;
}
.q {
    background-color: rosybrown;
}
.r {
    background-color: royalblue;
}
.s {
    background-color: slategrey;
}
.t {
    background-color: teal;
}
.u {
    background-color: tomato;
}
.v {
    background-color: violet;
}
.w {
    background-color: wheat;
}
.x {
    background-color: darkcyan;
}
.y {
    background-color: yellowgreen;
}
.z {
    background-color: silver;
}