.change-password {
    header {
        background-color: $ThemeTitleBackground !important;
        padding: 0px !important;
    }

    .modal-card-title {
        padding: 8px;
    }

    .modal-card-body {
        padding-top: 10px !important;
        text-align: left !important;
        font-size: 0.9em;
    }

    button {
        background-color: $ThemeButtonFill;
        color: white !important;
        font-size: 0.9em;
        float: right;
    }

    button:hover{
        background-color: $ThemeButtonHover;
    }
}