.reply-container {
  position: absolute;
  bottom: 10px;
  width: 100%;

  .fileMenu {
    width: calc(100% - 24px);
    height: 220px;
    position: absolute;
    background-color: $ThemeChatLineBackgroundVisitor;
    bottom: 100px;
    right: 0;
    padding: 10px;
    margin: 12px;
    border-radius: 2px;
    color: #fff;
    z-index: 99;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  }


  .emojiMenu {
    max-width: 400px;
    min-width: 30%;
    height: 200px;
    position: absolute;
    background-color: $ThemeChatLineBackgroundVisitor;
    bottom: 100px;
    right: 0;
    padding: 10px;
    margin: 12px;
    border-radius: 2px;
    color: #fff;
    z-index: 99;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
  }

  .emojiList {
    height: 100%;
    overflow-y: scroll;
  }

  .emojiList::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px $ThemeScrollBar;
    background-color: $ThemeScrollBar;
  }

  .emojiBtn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border:0;
    outline:0;
    padding:0;
    margin: 0;
    font-size: 1rem;
  }

  .emojiBtn:hover {
    color: $ThemeButtonHover;
  }

  .emojiBtn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .emoji-icon {
    margin-right: 6px;
    color: $FontColor;

    &:last-of-type {
      margin-right: 0;
    }
  }
  .textarea {
    resize: none;
    overflow: auto;
  }
  .visitor-typing {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -6px;
    font-size: 0.6rem;
    color: $ThemeRoundButtonFill;
  }

  #inputArea {
    min-height: 65px;
    border: none;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    overflow: auto;
    font-weight: bold;
    padding: 6px;
    font-size: 0.9rem;
  }
}
