.chat-message {
    width:65%;
}

.chat-right{
    float:right;
}

.quickview {
    z-index:1000;
}

.status-border {
    border-left: 4px solid $ThemeTextColor;
}

.chat-waiting-warning {
    color:#ff1000;
}

.fileMessage {
    background-color: transparent !important;
    padding: 0;
    width: 300px;
}

.notification {
    text-decoration: none;
}

.clickableImage {    
    border: dashed 2px gray;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
    text-decoration: none;
    margin-bottom: 5px;
}

.clickableImage:hover {
    cursor: pointer;
    background-color: $ThemeRoundButtonFill;
    color: white;
    border-color: transparent;
}

.chat-info {
    box-shadow: none !important;
    margin-bottom:4px;

    &.is-selected{
        background-color: #e5e6f3;
    }

    &:hover{
        background-color: #e5e6f3;
        cursor: pointer;
    }
}

.quickview, .quickview-body{
    height:100vh;
}

textarea {
    resize: none;
  }

.visitor {  
    background-color: $ThemeChatLineBackgroundVisitor;
    margin-left:10px;
    user-select: text;
}

.operator {
    background-color: $ThemeChatLineBackgroundOperator;
    margin-right:10px;
    user-select: text;
}

.chat-header-icons {
     margin-top: -4px;
     font-size: 0.6rem;
     a{

        &:hover{
            i{
                color:$ThemeRoundButtonHover;
                &.white {
                    color: $ThemeToolbarText;
                }
            }
       
        }
     }
    i {
        color:$ThemeRoundButtonFill;
        opacity: 0.8;
        padding-left:2px;      
    }
    .white {
        color: $ThemeToolbarText;
    }
}

.chat-icons{
    font-size: 1.4rem;
    i {
        color:$FontColor;
        opacity: 0.8;
        padding-left:4px;

        
    }

    
}


.is-horizontal-center {
    justify-content: center;
  }
.active-chats{
    background-color: #fff;
    min-width: 300px;
    padding: 10px;
}

.time-col{
    margin: auto;
    min-width: 70px;
}

.chats {
    height: 88%;
    overflow-y: auto;
}

.chat-area{
    height:100%;
    width: calc(100% - 300px);
    position: relative;
    background-color: $ThemeChatBackground;
    padding-left:0;
    padding-right:0;
    p{
        color:$FontColor;
        font-weight: bold;
    }
    .tabs {
        margin-bottom: 0 !important;
    }

    .subtitle {
        margin-bottom: 3px;   
    }

    .survey-block {
        background-color: $ThemeChatSurveyBackground;
        padding: 4px 4px;
        margin-bottom: 2px;
        z-index:999;
        max-height: 100px;
        margin-left: 0px !important;
        overflow-y: auto;
        width: 100%;
    }
    .logo {
        position: absolute;
        left: calc(50% - 25px);
        margin-left: -50px;
        top: calc(50% - 25px);
        margin-top: -50px;
        text-align: center;
        i {
            font-size: 8rem;
            color:$ChatViewSeperator;
        }
      }
      .reply-container {
        position: absolute;
        bottom:54px;
        width:100%;
        background-color: $ThemeChatBackground;
    }
}

.visitor-typing {
    padding-top:0;
    padding-bottom:0;
    margin-bottom: -12px;
    font-weight: bold;
    font-size: 0.8rem;
    color:$ThemeRoundButtonFill;
}

.active-chat {
    padding: 4px 12px;
    .message-list {      
        overflow-y: auto;
        overflow-x: hidden;
        margin-top:10px;
        height: calc(100vh - (100px + 380px )); 
    }
}

.response{
    margin-bottom: 4px;
    border-bottom: 1px solid $ThemeChatBackground;
    width:100%;
    display: block;
}
.clickable {
  border-radius: 4px !important;

    &:hover{
        background-color: #e5e6f3;
        cursor: pointer;

    }
}

