$respondingYellow: #DAA520;

.missedchats {
    height: calc(100vh - 32px);
    width: calc(100% - 80px);
    position: relative;
}

.missed-chats {



    left: 0;

    padding: 5px;
    padding-bottom: 0;

    .searchField {
        width: 100%;
        display: inline-block;
    }

    .field {
        margin-bottom: 0;
    }

    input{
        line-height: 1;
        height:1.5rem;
        font-size: 0.8rem;
        background-color: transparent;
    }

    .icon {
        height: 1.5rem !important;
        width: 1.5rem !important;
    }

    
    i
    {   
        &.fa-search {
            color:$ThemeChatText;
        }
    }

    .gridBtn {
        float: left;
        font-size: 0.35rem;
        border: none !important;
        outline: none !important;

        span {
            color: $ThemeToolbarHover;
        }
    }

    .responding {
        color: $respondingYellow;
        font-weight: bold;
        font-size: 0.7rem;
        position: absolute;
        bottom: 5px;
    }

    .summary {
        bottom: 25px !important;
    }
  }

  
.response {
    height: 150px;
    padding: 10px;
}
  