.monitorAllView {
    padding: 0.5rem;
    
    height: calc(100vh - 32px); 
    width: calc(100vw - 80px);
    overflow-y: scroll;
    padding-bottom:20px;

    .chat {
        border-radius: 3px;
        width: 300px;
        border: 1px solid $DarkLine;
        display: inline-block;
        line-height: 1.2rem;
        margin-right: 0.5rem;

        &.waiting {
            border-color: $ThemeRoundButtonHover;
        }
    }

    .chat-header {
        padding: 8px;
        background-color: $MonitorAllChatHeader;
        position: relative;
        overflow-y: scroll;
        max-height:120px;


        .chat-sentiment {
            position: absolute;
            top: 8px;
            right: 8px;
        }

        .waitingWarning {
            color: $Unanswered;
        }
    }

    .chat-surveys {
        overflow-y: scroll;
        max-height:120px;
        flex-direction: column;
        background-color: #F3F5F8;
        font-size: 0.7rem;
        
        border-bottom: 1px solid $LessFaintBorder;
        
    }
    

    .info-item {
        padding: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        width:100%;
        min-height: 18px;
        overflow:auto;

        .fa-star {
            color: gold;
        }

        .is-pulled-right {
            width: 70%;
            word-break: break-all;
        }
    }

    .info-item-label {
        width: 30%;
        overflow: hidden;
    }

    .chat-content {
        overflow-y: scroll;
        margin: 8px;
        padding: 8px;
    }

    .messages {
        margin-bottom: 10px;
    }

}