.previous-chats-container {
    float:left;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    min-width: 300px;

    margin: 5px;
    padding: 5px;
    
    overflow: auto;

    .previous-chat-options {
        padding: 3px;
        border: 1px solid $FaintBorder;
        text-align: center;
        min-height: 38px;
    }
    
    .previous-chats-title {
        font-size: 0.9rem;
        margin-bottom: 15px;
    }

    .previous-chats {
        height: calc(100vh - 367px);
    }
    .group {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &.showingViewChat {
        width: calc(100% - 410px);
    }

    @media (max-width: 790px) {
        min-width: calc(100% - 10px);
    }
}

.view-previous-chats {
    float:right;
    width: 400px;
    height: 100%;
    position: relative;
    min-height: 300px;

    border: 1px solid $FaintBorder;

    @media (max-width: 790px) {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index: 100;
        background-color: $ThemeChatBackground;
    }

    .info-header {
        flex-direction: column;
        background-color: #F3F5F8;
        font-size: 0.7rem;
        
        border-bottom: 1px solid $LessFaintBorder;
    }

    .info-item {
        
        padding: 5px;
        
        padding-top: 2px;
        padding-bottom: 2px;
        width:100%;
        height: 18px;

        .fa-star {
            color: gold;
        }
    }

    .info-item-label {
        width: 30%;
        overflow: hidden;
    }

    

    .PreChatSurveys {
        border-top: 1px solid $LessFaintBorder;
        //border-bottom: 1px solid $LessFaintBorder;
        margin-top: 5px;
    }

    .PostChatSurveys {
        border-top: 1px solid $LessFaintBorder;
        //border-bottom: 1px solid $LessFaintBorder;
        margin-top: 5px;
    }

    .convo-tabs {
       padding: 5px;

        ul {
            align-items: center;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: flex-start;
        }

        li {
            font-size: 0.75rem;
            border-bottom: 2px solid transparent;
            margin-right: 15px;
            color: $ThemeTextColorLighter;
            opacity: 0.8;
            cursor: pointer;

            &.is-active {
                border-bottom-color: $ThemeRoundButtonHover;
                color: $ThemeRoundButtonHover;
                opacity: 1;
            }

            &:hover {
                border-bottom-color: $ThemeRoundButtonHover;
            }
        }
    }

    .content {
        overflow: auto;

        .info {
            flex-direction: column;
            font-size: 0.7rem;
            padding: 5px;
            
            border-bottom: 1px solid $FaintBorder;
        }

        .info-pages-viewed {
            padding: 5px;
            font-size: 0.9rem;

            th {
                font-size: 0.7rem;
                border: 0;
                outline: 0;
                color: $ThemeRoundButtonHover;
            }

            tr.page {
                cursor: pointer;

                &:hover {
                    color: $ThemeRoundButtonHover;
                }
            }

            td {
                font-size: 0.7rem;
                border: 0;
                outline: 0;
            }
        }
    }

    .conversation 
    {
        font-size: 0.8rem;
        font-weight: bold;

        .notification {
            p {
                margin-bottom: 0;
                font-size: 0.7rem;
            }
        }

        .messages {
            margin: 10px;
        }
    }

    .actions {
        text-align: center;
        position: absolute;
        padding: 5px;
        height: 42px;
        bottom: 0;
        width:100%;
        background-color: $CardBackground;
        border: 1px solid $LessFaintBorder;
    }
}