.user-margin{
    margin-top:22px;
}

.userchat-header {
    background-color: $ThemeToolbarBackGround;  
    margin-bottom: 0 !important;
}

.active-chat .message-list {
    height: 63vh;
}
.chat-header{
    p{
        font-weight:normal;
    }
}
