

html,body{
    background-color: $ThemeChatBackground;
}

.wo-login {
   padding-top:5%;
    overflow-y: auto;
    height:calc(100vh - 110px);
    .box{
        border:none;
        background-color: transparent;
        box-shadow: none;

        i{
            color: $ThemeTitleBackground;
        }

        .btn-login {
            background-color: $ThemeTitleBackground;
            color: #fff;
            padding-left:20px;
            padding-right:20px;
        }
    }

    .wo-error{
        margin-top: 10px;
        margin-bottom: -25px;
    }

 
    .switch[type="checkbox"] + label {
        font-size: 0.8rem; 
    } 

    .switch[type="checkbox"]:checked + label {
        font-size: 0.8rem;
        &::before {
            background: $ThemeTitleBackground !important;
        }
    }

    .advSettings {
        border-top: 1px solid $ThemeTitleBackground;
        text-align: left;
    }
}

.footer-bar {
    background-color: $ThemeChatBackground;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding-top:5px;
    padding-bottom:5px;
}