.wo-sidebar {
  z-index: 999;
  border-top: 2px dashed #990000;
  display: block;
  width:80px;

  .menu {
    .menu-list {
      li {
        a {
          padding: 9px 6px !important;
          .icon {
            font-size: 1.5em !important;
            margin: 0.4rem !important;
            .status {
              right: -6px;
              bottom: -10px !important;
              i {
                font-size: 0.6em !important;
              }
            }
          }
        }
      }
    }
  }

  #navigation {
    width: 80px !important;
  }

  @include mobile {
    border-top: 2px solid purple;
    
  }
  @include tablet {
    border-top: 2px solid green;
  }

  @include desktop {
    border-top: 2px solid orange;
 
  }
  @include widescreen-only {
    border-top: 2px solid blue;
  
  }

  @include fullhd {
    border-top: 2px solid grey; 
  }
}
