#page-content {
  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: calc(100% - 80px) !important;
    .active-chats {
        left:0 !important;
    }
  }

  @include desktop {
    width: calc(100% - 100px) !important;
    .active-chats {
        left:0 !important;
    }
  }
  @include widescreen-only {
    width: calc(100% - 120px) !important;
    .active-chats {
        left:0 !important;
    }
  }

  @include fullhd {
    width: calc(100% - 120px) !important;
    .active-chats {
        left:0 !important;
    }
  }
}
