.chat-message {
    width:65%;
}

.chat-right{
    float:right;
}



textarea {
    resize: none;
  }

.visitor {  
    background-color: $ThemeChatLineBackgroundVisitor;
    margin-left:10px;
}

.operator {
    background-color: $ThemeChatLineBackgroundOperator;
    margin-right:10px;
}

.chat-icons{
    font-size: 1.7rem;
    i {
        color:$FontColor;
        padding-left:4px;
    }
}

.is-horizontal-center {
    justify-content: center;
  }
.active-chats{
    background-color: #fff;
    
}

.time-col{
    margin: auto;
    min-width: 70px;
}

.chat-area{
    height:100vh;
    position: relative;
    background-color: $ThemeChatBackground;
    p{
        color:$FontColor;
        font-weight: bold;
    }
    .logo {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        text-align: center;
        i {
            font-size: 8rem;
            color:$ChatViewSeperator;
        }
      }
      .reply-container {
        position: absolute;
        bottom:54px;
        padding-right:24px;
        width:100%;
        background-color: $ThemeChatBackground;
        z-index:9999;
    }
}

#slideout {
    position: fixed;
    top: 40px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #slideout_inner {
    position: fixed;
    top: 40px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  #slideout:hover {
    left: 250px;
  }
  #slideout:hover #slideout_inner {
    left: 0;
  }

