$fa-font-path:        "../webfonts";
$header-height: 32px;
$sidebar-width:80px;
$activechats-width: 290px;
$chat-header: 80px;
$chat-tabs: 28px;
$chat-interactions: 110px;
$mobile: 0px;
$tablet: 1px;
$transfer-panel: 250px;
$options-footer-height:80px;
$option-tabs-height:42px;
$survey-container-height: 220px;
